/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px) {

    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }

    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

}

/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }


    #img-equipo {
        max-height: 20rem !important;
        width: 90%;
    }

    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

    #local {
        flex-wrap: wrap;
    }

    .mapa img {
        width: 100%;
        height: auto;
    }

    #bg-contactos {
        top: -120px;
    }


}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width: 100% !important;
    }

    #servicios-fila-1 {
        width: 100% !important;
    }

    .icono-wrap {
        flex-wrap: wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*===================NAVBAR==========================*/


/* Cambia el tamaño de la imagen del ícono */
.icono-img {
    width: 120px;
    /* Ajusta el ancho según tus necesidades */
    height: 50px;
    /* Ajusta la altura según tus necesidades */
    border-radius: 5px;

}

.navbar {
    background-color: #000000;
    /* Superposición  position: absolute;*/
    width: 100%;
    z-index: 1;
    /* Se muestra por encima del carrusel */
    height: 60px;
    /* Ajusta la altura según tus necesidades */
}

.navbar .navbar-nav {
    margin-left: auto;
    /* Coloca los elementos en el lado derecho */
}



/* Cambiar el tamaño del texto en la barra de navegación */
.navbar-nav .nav-link {
    font-size: 23px;
    /* Ajusta el tamaño según tus necesidades */
}

/* Opcional: Estilo para el botón del menú hamburguesa en dispositivos pequeños */
.navbar-toggler {
    background-color: #ffffff;
    /* Cambia el color del botón */
    border: 1px solid #ffffff;
    /* Cambia el borde del botón */
}

.navbar-toggler-icon {
    background-color: rgb(8, 8, 8);
}

/*===================BARRA DE NAVEGACION SECCIONES==========================*/
.container-principal {
    padding-top: 100px;
    /* Ajusta el valor según tus necesidades para dar espacio suficiente */
}

.imagen-banner {
    width: 100%;
    /* Ajusta el ancho de la imagen según tus necesidades */
    max-height: 300px;
    /* Ajusta la altura máxima de la imagen según tus necesidades */
}


/*===================MENU==========================*/

#menu a,
button {
    font-size: 18px !important;
    font-weight: 600;
}

#menu a {
    color: #f9f5f5;

}

/*===================INICIO==========================*/
#hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    /* Utiliza flexbox para centrar los elementos hijos */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    z-index: 1;
    /* Asegura que el video esté detrás del texto */
}

.promo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    position: relative;
    z-index: 2;
    /* Asegura que el texto esté encima del video */
    width: 100%;
    /* Toma el ancho completo */
    height: 100%;
    /* Toma la altura completa */
    transform: translateY(calc(-50% - 60px));
    /* Ajusta los 20px para mover el texto hacia arriba como desees */
}

#text {
    color: #0a0a0a;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Añade sombra */
    width: 100%;
    /* Toma el ancho completo */
}

/*===================GENERAL==========================*/


.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #000;
    color: #000000;
}

/*===================CARRUSEL==========================*/
/* Estilos CSS para centrar el video y el texto */
/* Estilos CSS para centrar el video */
.video-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: relative;
    width: 60vw; /* Ancho del contenedor del video al 60% del ancho de la ventana */
    height: 33.75vw; /* Altura del contenedor para mantener la proporción 16:9 */
    max-width: 100%; /* Evitar que el contenedor sea más ancho que la ventana */
    margin: auto; /* Centrar el video */
    overflow: hidden; /* Evitar que el video se desborde */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ancho del video al 100% del contenedor */
    height: 80%; /* Altura del video al 100% del contenedor */
}

.video-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 1; /* Asegura que los controles estén por encima del video */
}
/*===================TARJETAS==========================*/
.card {
    height: 500px; /* Altura fija para todas las tarjetas */
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la tarjeta */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    position: relative; /* Añadido para el efecto hover */
    overflow: hidden; /* Añadido para el efecto hover */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Sombra alrededor de la tarjeta */
    
}

.card .card-body {
    opacity: 0; /* Oculta el contenido por defecto */
    transition: opacity 0.5s ease; /* Transición suave al mostrar el contenido */
    position: absolute; /* Añadido para el efecto hover */
    top: 0; /* Añadido para el efecto hover */
    left: 0; /* Añadido para el efecto hover */
    right: 0; /* Añadido para el efecto hover */
    bottom: 0; /* Añadido para el efecto hover */
    padding: 20px; /* Añadido para el efecto hover */
    color: #fff; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
}

.card:hover .card-body {
    opacity: 1; /* Muestra el contenido al hacer hover */
}

.card .card-body h5 {
    color: #fff; /* Color del texto del título */
}


.tarjeta-pequena,
.tarjeta-grande {
    height: 500px; /* Altura fija para ambas tarjetas */

    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    position: relative; /* Añadido para el efecto hover */
    overflow: hidden; /* Añadido para el efecto hover */
}

.tarjeta-pequena .card,
.tarjeta-grande .card {
    height: 100%; /* Ajusta la altura de la tarjeta */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
    position: absolute; /* Añadido para el efecto hover */
    top: 0; /* Añadido para el efecto hover */
    left: 0; /* Añadido para el efecto hover */
    right: 0; /* Añadido para el efecto hover */
    bottom: 0; /* Añadido para el efecto hover */
    padding: 20px; /* Añadido para el efecto hover */
    color: #000000; /* Añadido para el efecto hover */
    background-color: rgba(0, 0, 0, 0.7); /* Añadido para el efecto hover */
    transform: scale(0.9); /* Añadido para el efecto hover */
}

.tarjeta-pequena:hover .card,
.tarjeta-grande:hover .card {
    transform: scale(1); /* Aumenta ligeramente el tamaño al hacer hover */
}

.tarjeta-pequena .card-body h5,
.tarjeta-grande .card-body h5 {
    color: #000000; /* Color del texto del título */
}

.tarjeta-pequena:hover .card-body,
.tarjeta-grande:hover .card-body {
    background-color: rgba(253, 253, 253, 0.98); /* Fondo del texto al hacer hover */
}

.tarjeta-pequena{
    width: 450px;
}
.tarjeta-grande{
    width: 850px;
}

.titulo {
    font-weight: bold;
    text-align: left;
    color: black;
}

.texto {
    color: black;
    text-align: left;
}

/*===================EMPRESAS==========================*/
.icono-empresa {
    padding: 15px;
    /* Espaciado igual en todas direcciones */
    display: flex;
    justify-content: center;
    /* Centra los iconos horizontalmente */
    align-items: center;
    /* Centra los iconos verticalmente */
}

img {
    max-width: 45%;
    /* Asegura que la imagen no exceda el contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
}




/*===================CONTACTO==========================*/


/* Estilos para la sección de contacto */
.contacto {
    background: #000000;
    color: #fff;
    padding: 50px 0;
    font-family:'Rowdies', Helvetica, Arial, sans-serif;
        
  }
  
  .contacto .container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  
  .contacto h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .contacto p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .contact-info div {
    margin: 0 15px;
    text-align: center;
  }
  
  .contact-info i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #eeeff18c;
    color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    transition: background 0.3s ease;
  }
  
  .social-icons a:hover {
    background: #0056b3;
  }

  .social-icons i {
    line-height: 40px;
    text-align: center;
  }
  